$bg-color: #ffffff;

$ffHeading: "Playfair Display";
$ffNormal: Montserrat;

$accent-color: #f2994a;
$main-text: #000000;
$accent-text: #4f4f4f;
$title-color: #333333;
$list-bullet: #828282;
$specs-header: #bdbdbd;

$brad: 6px;
