.header {
  padding: 52px 0 24px 0;
  &__title {
    margin-bottom: 12px;
    font-family: $ffHeading;
    font-style: normal;
    font-weight: 700;
    font-size: 4em;
    line-height: 133%;
    color: $main-text;
  }
  &__descr {
    max-width: 529px;
    height: 52px;
    margin-top: 12px;
    margin-left: 30px;
    position: relative;
    font-family: $ffNormal;
    font-style: italic;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 120%;
    color: $accent-text;
    margin-bottom: 50px;
    &:before {
      content: "";
      position: absolute;
      top: 8px;
      left: -25px;
      width: 16px;
      height: 10px;
      transform: translateY(-50%);
      background: url("../assets/6dots.svg") center center/cover no-repeat;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
